<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

		<div class="container">
			<div class="jumbotron">
			<center>
				<h1><%= artist %>'s Albums</h1>
				<% albums.forEach(function(album) { %>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Popularity</th>
						<th>Album Cover</th>
					</tr>
					<tbody>
						<tr>
							<td><a href="<%= album.name %>/<%= album.id %>"><p><%= album.name %></p></a></td>
							<td><p><%= album.type %></p></td>
							<td><img style="height: 150px; width: 150px" class="img-rounded" src="<%= album.mainIMG %>" /></td>
						</tr>
					</tbody>
				</table>
				<% }) %>
			</center>
			</div>
		</div>

	<% include ../partials/footer %>
</body>
</html>