<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
		<% var finale = []; %>
		<% for (var i = 0; i < names.length; i++) { %>
			<% var tmp = names[i].toString(); %>
			<% finale.push(tmp); %>
			<% console.log(finale); %>
		<% }; %>

		var data = {
    		labels: <%=[ finale ]%>,
		    datasets: [
			    {
		            label: "My First dataset",
		            fillColor: "rgba(220,220,220,0.5)",
		            strokeColor: "rgba(220,220,220,0.8)",
		            highlightFill: "rgba(220,220,220,0.75)",
		            highlightStroke: "rgba(220,220,220,1)",
		            data: [<%= pop.toString() %>]
	        	}
    		]
		}
		var ctx = $("#myChart");
		var myBarChart = new Chart(ctx).Bar(data);
	</script>
</head>
<body>
	<% include ../partials/header %>

		<div class="container">
			<div class="jumbotron">
			<center>
				<h1><%= artist %>'s Albums</h1>
				<% albums.forEach(function(album) { %>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Popularity</th>
						<th>Album Cover</th>
					</tr>
					<tbody>
						<tr>
							<td><a href="<%= album.name %>/<%= album.id %>"><p><%= album.name %></p></a></td>
							<td><p><%= album.type %></p></td>
							<td><img style="height: 150px; width: 150px" class="img-rounded" src="<%= album.mainIMG %>" /></td>
						</tr>
					</tbody>
				</table>
				<% }) %>
			</center>
			<canvas id="myChart" width="400px" height="400px"></canvas>
			</div>
		</div>

	<% include ../partials/footer %>
</body>
</html>