<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<style type="text/css">
	.jumbotron {
		background: rgba(255, 255, 255, .65);
	}
	img {
		height: 120px;
	}
	</style>
</head>
<body>
	<% include ../partials/header %>
	<div class="container">
		<div class="jumbotron">
		<h1 class="text-center"><%= artist %></h1>
			<div class="row">
				<legend class="col-md-8"><h3 class="text-danger"><%= album %> | <%= release_date %></h3></legend>
				<div class="col-md-4"><img src="<%= image %>"></div>
			</div>
			<table class="table table-hover">
				<tbody>
					<th>Track Name</th>
					<% tracks.forEach(function(track) { %>
						<tr>
							<td><h5><a target="_blank" href="<%= track.preview_url %>"><%= track.name %></h5></p></td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>


	<% include ../partials/footer %>
</body>
</html>