<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<style type="text/css">
	body {
		background: url('<%= image %>');
		background-size: cover;
	}
	.jumbotron {
		background: rgba(255, 255, 255, .85);
	}
	</style>
</head>
<body>
	<% include ../partials/header %>
	<div class="container">
		<div class="jumbotron">
		<h1 class="text-center"><%= artist %></h1>
			<legend><h3 class="text-danger"><%= album %> | <%= release_date %></h3></legend>
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% tracks.forEach(function(track) { %>
						<tr>
							<td><p><a target="_blank" href="<%= track.preview_url %>"><%= track.name %></a></p></td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>


	<% include ../partials/footer %>
</body>
</html>